@media screen and (min-width:1200px) {
    @keyframes go {
        0% {
            transform: rotateY(0deg)
        }
        33% {
            transform: rotateY(120deg)
        }
        660% {
            transform: rotateY(240deg)
        }
        100% {
            transform: rotateY(360deg)
        }
    }
    .fixed-width {
        width: 1200px;
        margin: auto;
    }
    header {
        background-color: #383838;
        position: fixed;
        z-index: 1;
    }
    header nav div a {
        display: block;
        line-height: 40px;
        transition: all .5s;
        text-align: center;
        padding-right: 20px;
        padding-left: 20px;
        margin-right: 10px;
        margin-left: 10px;
        height: 40px;
        color: #ffffff;
        text-decoration: none;
    }
    header nav .logo {
        float: left;
    }
    header nav .login {
        float: right;
    }
    header nav .search {
        float: right;
    }
    header nav .class_menu ul {
        float: right;
    }
    header nav .class_menu ul li {
        list-style: none;
        float: left;
    }
    header nav .class_menu ul li a:hover,
    header nav .search:hover,
    header nav .login:hover {
        background-color: #919191;
        font-size: 20px;
    }
    
    footer {
        background-color: #383838;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
    footer .bottom .copyrights {
        font-size: 8px;
        height: 40px;
        color: #ffffff;
        padding-right: 20px;
        padding-left: 20px;
        line-height: 40px;
    }
}
