@media screen and (max-width:480px) {
    @keyframes go {
        0% {
            transform: rotateY(0deg)
        }
        33% {
            transform: rotateY(120deg)
        }
        660% {
            transform: rotateY(240deg)
        }
        100% {
            transform: rotateY(360deg)
        }
    }
    .fixed-width {
        width: 100%;
        margin: auto;
    }
    header {
        background-color: #383838;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    header nav div a {
        display: block;
        line-height: 40px;
        transition: all .8s;
        text-align: center;
        padding-right: 20px;
        padding-left: 20px;
        margin-right: 10px;
        margin-left: 10px;
        height: 40px;
        color: #ffffff;
        text-decoration: none;
    }
    header nav .logo {
        float: left;
    }
    header nav .login a,
    header nav .search a {
        float: right;
        padding-right: 10px;
        padding-left: 10px;
        margin: 0;
    }
    header nav .class_menu ul {
        clear: both;
        display: none;
    }
    header nav .class_menu ul li a:hover {
        background-color: #919191;
		font-size:20px;
    }
    
    footer {
        background-color: #383838;
    }
    footer .bottom .copyrights {
        font-size: 8px;
        height: 40px;
        color: #ffffff;
        padding-right: 20px;
        padding-left: 20px;
        line-height: 40px;
    }
}
