@media screen and (max-width:480px) {
    .hamburger {
        width: 40px;
        height: 40px;
        background-color: #383838;
        position: relative;
        clear: both;
        float: right;
        margin-right: 6px;
    }
    .hamburger span {
        width: 40px;
        height: 5px;
        background-color: #ffffff;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .hamburger span::after {
        content: "";
        width: 40px;
        height: 5px;
        background-color: #ffffff;
        position: absolute;
        bottom: -12px;
    }
    .hamburger span::before {
        content: "";
        width: 40px;
        height: 5px;
        background-color: #ffffff;
        position: absolute;
        top: -12px;
    }
    .hamburger-x span {
        width: 40px;
        height: 5px;
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .hamburger-x span::before {
        content: "";
        width: 40px;
        height: 5px;
        background-color: #ffffff;
        transform: rotate(-45deg);
        position: absolute;
        top: 0;
    }
    .hamburger-x span::after {
        content: "";
        width: 40px;
        height: 5px;
        background-color: #ffffff;
        transform: rotate(45deg);
        position: absolute;
        bottom: 0;
    }
}
